
        <!-- page-title -->
        <div class="ttm-page-title-row">
          <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
          <div class="container">
              <div class="row">
                  <div class="col-md-12"> 
                      <div class="title-box ttm-textcolor-white">
                          <div class="page-title-heading">
                              <h1 class="title">Products</h1>
                          </div><!-- /.page-title-captions -->
                          <div class="breadcrumb-wrapper">
                              <span>
                                  <a title="Go to Delmont." href="index-2.html" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                              </span>
                              <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                              <span><span>Products</span></span>
                          </div>  
                      </div>
                  </div><!-- /.col-md-12 -->  
              </div><!-- /.row -->  
          </div><!-- /.container -->                      
      </div><!-- page-title end-->

  <!--site-main start-->
  <div class="site-main">

      <!-- sidebar -->
      <div class="sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-lg-9 content-area">
                      <p class="products-result-count">Showing 1–9 of 23 results</p>
                      <form class="products-ordering" method="get">
                          <div class="orderby">
                              <select name="orderby" class="select2-hidden-accessible">
                                  <option value="menu_order" selected="selected">Default sorting</option>
                                  <option value="popularity">Sort by popularity</option>
                                  <option value="rating">Sort by average rating</option>
                                  <option value="date">Sort by newness</option>
                                  <option value="price">Sort by price: low to high</option>
                                  <option value="price-desc">Sort by price: high to low</option>
                              </select>
                          </div>
                      </form>
                      <div class="products row">
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <img class="img-fluid" src="assets/images/product/product-five.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Accu Check</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price"><span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>20.00</span>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <img class="img-fluid" src="assets/images/product/product-six.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Asthma inhaler</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price"><span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>25.00</span>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <img class="img-fluid" src="assets/images/product/product-seven.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Calendula Pills</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price"><span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>45.00</span>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <img class="img-fluid" src="assets/images/product/product-eight.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Consonantia</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price"><span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>18.00</span>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <div class="onsale">Sale!</div>
                                          <img class="img-fluid" src="assets/images/product/product-nine.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Cosmetic Oil</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price">
                                          <del><span class="product-Price-amount">
                                                  <span class="product-Price-currencySymbol">$</span>50.00
                                              </span>
                                          </del>
                                          <ins><span class="product-Price-amount">
                                                  <span class="product-Price-currencySymbol">$</span>60.00
                                              </span>
                                          </ins>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end-->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <img class="img-fluid" src="assets/images/product/product-four.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>ECG Machine</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price"><span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>15.00</span>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <div class="onsale">Sale!</div>
                                          <img class="img-fluid" src="assets/images/product/product-ten.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>First aid kit</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price">
                                          <del><span class="product-Price-amount">
                                                  <span class="product-Price-currencySymbol">$</span>50.00
                                              </span>
                                          </del>
                                          <ins><span class="product-Price-amount">
                                                  <span class="product-Price-currencySymbol">$</span>60.00
                                              </span>
                                          </ins>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <div class="onsale">Sale!</div>
                                          <img class="img-fluid" src="assets/images/product/product-three.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Syringe 5ml</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price">
                                          <del><span class="product-Price-amount">
                                                  <span class="product-Price-currencySymbol">$</span>3.00
                                              </span>
                                          </del>
                                          <ins><span class="product-Price-amount">
                                                  <span class="product-Price-currencySymbol">$</span>2.00
                                              </span>
                                          </ins>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                          <!-- product -->
                          <div class="product col-md-4 col-sm-6 col-xs-12">
                              <div class="ttm-product-box">
                                  <!-- ttm-product-box-inner -->
                                  <div class="ttm-product-box-inner">
                                      <div class="ttm-shop-icon">
                                          <div class="product-btn"><a href="#" class="add-to-cart-btn"><i class="ti ti-shopping-cart"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="search-btn"><i class="ti ti-search"></i></a>
                                          </div>
                                          <div class="product-btn"><a href="#" class="wishlist-btn"><i class="ti ti-heart"></i></a>
                                          </div>
                                      </div>
                                      <div class="ttm-product-image-box">
                                          <img class="img-fluid" src="assets/images/product/product-two.jpg" alt="">
                                      </div>
                                  </div><!-- ttm-product-box-inner end -->
                                  <div class="ttm-product-content">
                                      <a class="ttm-product-title" href="product-details.html">
                                          <h2>Panthenol</h2>
                                      </a>
                                      <div class="star-ratings">
                                          <ul class="rating">
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                          </ul>
                                      </div>
                                      <span class="price"><span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>18.00</span>
                                      </span>
                                  </div>
                              </div>
                          </div><!-- product end -->
                      </div>
                      <div class="col-lg-12">
                          <div class="ttm-pagination text-center">
                              <span aria-current="page" class="page-numbers current">1</span>
                              <a class="page-numbers" href="#">2</a>
                              <a class="next page-numbers" href="#">
                              <i class="ti ti-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 widget-area sidebar-right ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-grey">
                      <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                      <aside class="widget widget-search">
                          <form role="search" method="get" class="search-form  box-shadow" action="#">
                              <label>
                              <span class="screen-reader-text">Search for:</span>
                              <input type="search" class="input-text" placeholder="Search Products…" value="" name="s">
                              </label>
                              <input type="submit" class="search-submit" value="Search">
                          </form>
                      </aside>
                      <aside class="widget products top-rated-products">
                          <h3 class="widget-title">Featured Products</h3>
                          <ul class="product-list-widget">
                              <li>
                                  <a href="#"><img src="assets/images/product/product-four.jpg" alt="">
                                      <span class="product-title">Tonometer</span>
                                  </a>
                                  <div class="star-ratings">
                                      <ul class="rating">
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                      </ul>
                                  </div>
                                  <span class="product-Price-amount amount"><span class="product-Price-currencySymbol">$</span>90.00</span>
                              </li>
                              <li>
                                  <a href="#"><img src="assets/images/product/product-five.jpg" alt="">
                                      <span class="product-title">Accu Check</span>
                                  </a>
                                  <div class="star-ratings">
                                      <ul class="rating">
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                      </ul>
                                  </div>
                                  <span class="product-Price-amount amount"><span class="product-Price-currencySymbol">$</span>12.00</span>
                              </li>
                              <li>
                                  <a href="#"><img src="assets/images/product/product-four.jpg" alt="">
                                      <span class="product-title">ECG Machine</span>
                                  </a>
                                  <div class="star-ratings">
                                      <ul class="rating">
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                      </ul>
                                  </div>
                                  <span class="price">
                                      <span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>20.00
                                      </span>
                                  </span>
                              </li>
                              <li>
                                  <a href="#"><img src="assets/images/product/product-seven.jpg" alt="">
                                      <span class="product-title">Panthenol</span>
                                  </a>
                                  <div class="star-ratings">
                                      <ul class="rating">
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                      </ul>
                                  </div>
                                  <span class="price">
                                      <span class="product-Price-amount">
                                          <span class="product-Price-currencySymbol">$</span>18.00
                                      </span>
                                  </span>
                              </li>
                              <li>
                                  <a href="#"><img src="assets/images/product/product-one.jpg" alt="">
                                      <span class="product-title">Stethoscope</span>
                                  </a>
                                  <div class="star-ratings">
                                      <ul class="rating">
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                          <li><i class="fa fa-star"></i></li>
                                      </ul>
                                  </div>
                                  <span class="price">
                                      <del><span class="product-Price-amount">
                                              <span class="product-Price-currencySymbol">$</span>18.00
                                          </span>
                                      </del>
                                      <ins><span class="product-Price-amount">
                                              <span class="product-Price-currencySymbol">$</span>16.00
                                          </span>
                                      </ins>
                                  </span>
                              </li>
                          </ul>
                      </aside>
                      <aside class="widget widget-categories">
                          <h3 class="widget-title">Product Categories</h3>
                          <ul>
                              <li><a href="#">Cardiac Care</a></li>
                              <li><a href="#">Medical Devices</a></li>
                              <li><a href="#">Skin Care</a></li>
                              <li><a href="#">Stomach Care</a></li>
                              <li><a href="#">Thermometer & Mask</a></li>
                              <li><a href="#">Uncategorized</a></li>
                              <li><a href="#">Weight Loss</a></li>
                              <li><a href="#">Women's Care</a></li>
                          </ul>
                      </aside>
                      <aside class="widget widget-text">
                          <div class="ttm_info_widget">
                              <div class="icon"><i class="themifyicon ti-headphone"></i></div>
                              <div class="title"><h3>Let's Help You!</h3></div>
                              <div class="content">14 Tottenham Court Road<br>Bulls Stadium, Califorina <br>1234, USA <br>
                                  <a href="mailto:info@example.com.com">info@example.com</a>
                              </div><br>
                              <a class="view_more" href="#">View More</a>
                          </div>
                      </aside>
                  </div>
              </div><!-- row end -->
          </div>
      </div>
      <!-- sidebar end -->

  </div><!--site-main end-->