<body class="register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>

        <form [formGroup]="form" (ngSubmit)="onSave()">
          <div class="input-group mb-3">
            <input
              formControlName="userName"
              type="text"
              class="form-control"
              id="inputUserName"
              placeholder="Enter UserName"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <span
              class="textError"
              *ngIf="
                form.controls['userName'].touched &&
                form.controls['userName'].hasError('required')
              "
            >
              User name cannot be blank
            </span>
            <span
              class="textError"
              *ngIf="
                form.controls['userName'].touched &&
                form.controls['userName'].hasError('maxlength')
              "
            >
              User name cannot be more than 20 characters
            </span>
            <span
              class="textError"
              *ngIf="
                form.controls['userName'].touched &&
                form.controls['userName'].hasError('minlength')
              "
            >
              User name has to be greater than 3 characters
            </span>
          </div>
          <div class="input-group mb-3">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
            />
            <span
              class="textError"
              *ngIf="
                form.controls['email'].touched &&
                form.controls['email'].hasError('required')
              "
            >
              The email cannot be blank
            </span>
            <span
              class="textError"
              *ngIf="
                form.controls['email'].touched &&
                form.controls['email'].hasError('email')
              "
            >
              The email is not valid
            </span>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Enter Password"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              class="textError"
              *ngIf="
                form.controls['password'].touched &&
                form.controls['password'].hasError('required')
              "
            >
              Password cannot be blank
            </span>
            <span
              class="textError"
              *ngIf="
                form.controls['password'].touched &&
                form.controls['password'].hasError('minlength')
              "
            >
              Password has to be greater than 6 characters
            </span>
          </div>
          <div class="input-group mb-3">
            <input
              formControlName="passwordConfirm"
              type="password"
              class="form-control"
              id="inputpasswordConfirm"
              placeholder="Retype Password"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              class="textError"
              *ngIf="
                form.controls['passwordConfirm'].touched &&
                form.hasError('notSame')
              "
            >
              Password is not the same
            </span>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="terms"
                  value="agree"
                />
                <label for="agreeTerms">
                  I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a
            href="#"
            (click)="onOAuth2Login('facebook', $event)"
            class="btn btn-block btn-primary"
          >
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a
            href="#"
            preventDefault
            (click)="onOAuth2Login('google', $event)"
            class="btn btn-block btn-danger"
          >
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
          <a
            href="#"
            (click)="onOAuth2Login('github', $event)"
            class="btn btn-block btn-black"
          >
            <i class="fab fa-github mr-2"></i> Sign in using Github
          </a>
        </div>
        <!-- /.social-auth-links -->

        <a href="" (click)="goToLogin($event)" class="text-center"
          >I already have a membership</a
        >
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.register-box -->
</body>
