<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User details</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User details</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">User details</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="form" (ngSubmit)="onSave()">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <!-- UserName -->
                    <div class="form-group">
                      <label for="inputUserName">User name</label>
                      <input
                        formControlName="username"
                        type="text"
                        class="form-control"
                        id="inputUserName"
                        placeholder="Enter UserName"
                      />
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['username'].touched &&
                          form.controls['username'].hasError('required')
                        "
                      >
                        User name cannot be blank
                      </span>
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['username'].touched &&
                          form.controls['username'].hasError('maxlength')
                        "
                      >
                        User name cannot be more than 20 characters
                      </span>
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['username'].touched &&
                          form.controls['username'].hasError('minlength')
                        "
                      >
                        User name has to be greater than 6 characters
                      </span>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                      <label for="inputPassword">Password</label>
                      <input
                        formControlName="password"
                        type="password"
                        class="form-control"
                        id="inputPassword"
                        placeholder="Enter Password"
                      />
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['password'].touched &&
                          form.controls['password'].hasError('required')
                        "
                      >
                        Password cannot be blank
                      </span>
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['password'].touched &&
                          form.controls['password'].hasError('minlength')
                        "
                      >
                        Password has to be greater than 6 characters
                      </span>
                    </div>

                    <!-- Address -->
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input
                        formControlName="address"
                        type="text"
                        class="form-control"
                        id="inputAddress"
                        placeholder="Enter Address"
                      />
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input
                        formControlName="email"
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        placeholder="Enter email"
                      />
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['email'].touched &&
                          form.controls['email'].hasError('required')
                        "
                      >
                        The email cannot be blank
                      </span>
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['email'].touched &&
                          form.controls['email'].hasError('email')
                        "
                      >
                        The email is not valid
                      </span>
                    </div>

                    <!-- Phone Number -->
                    <div class="form-group">
                      <label for="exampleInputPhoneNumber1">Phone Number</label>
                      <input
                        formControlName="phoneNumber"
                        type="text"
                        class="form-control"
                        id="exampleInputPhoneNumber1"
                        placeholder="Phone Number"
                      />
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['phoneNumber'].touched &&
                          form.controls['phoneNumber'].hasError('required')
                        "
                      >
                        The phone number cannot be blank
                      </span>
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['phoneNumber'].touched &&
                          form.controls['phoneNumber'].hasError('minlength')
                        "
                      >
                        The phone number has to be greater than or equal to 10
                        characters
                      </span>
                      <span
                        class="textError"
                        *ngIf="
                          form.controls['phoneNumber'].touched &&
                          form.controls['phoneNumber'].hasError('maxlength')
                        "
                      >
                        The phone number cannot be more than 11 characters
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Date of Birth -->
                    <div class="form-group">
                      <label for="inputDateOfBirth">Date of Birth</label>
                      <input
                        formControlName="dateOfBirth"
                        type="date"
                        class="form-control"
                        id="inputDateOfBirth"
                      />
                    </div>

                    <!-- Gender -->
                    <div class="form-group">
                      <label for="inputGender">Gender</label>
                      <select
                        formControlName="gender"
                        class="form-control"
                        id="inputGender"
                      >
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>

                    <!-- Roles -->
                    <div class="form-group">
                      <label for="inputRoles">Roles</label>
                      <select
                        formControlName="roles"
                        class="form-control"
                        id="inputRoles"
                        multiple
                      >
                        <option *ngFor="let role of roles" [value]="role.value" [selected]="form.controls['roles'].value.includes(role.name)">
                        {{ role.name }}
                      </option>
                      </select>
                    </div>

                    <!-- Avatar -->
                    <div class="form-group">
                      <label for="inputAvatar">Avatar</label>
                      <input
                        formControlName="avatar"
                        type="file"
                        class="form-control"
                        id="inputAvatar"
                        (change)="onUploadCoverImage($event)"
                      />
                      <img
                        class="img-fluid mt-2 w-10 h-10 rounded"
                        [src]="coverImage"
                        *ngIf="coverImage"
                        alt="Cover image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
