  <!--footer start-->
  <footer class="footer widget-footer clearfix">
    <div class="first-footer ttm-bgcolor-skincolor">
      <div class="container">
        <div class="row">
          <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <aside class="widget widget-text">
              <!--featured-icon-box-->
              <div class="featured-icon-box iconalign-before-heading">
                <div class="featured-icon">
                  <div
                    class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                  >
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
                <div class="featured-title">
                  <h5>+123 456 78910 / 11</h5>
                  <h4>Have a question? call us now</h4>
                </div>
              </div>
              <!-- featured-icon-box end-->
            </aside>
          </div>
          <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <aside class="widget widget-text">
              <!--featured-icon-box-->
              <div class="featured-icon-box iconalign-before-heading">
                <div class="featured-icon">
                  <div
                    class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                  >
                    <i class="fa fa-envelope-o"></i>
                  </div>
                </div>
                <div class="featured-title">
                  <h5>info@domainname.com</h5>
                  <h4>Need support? Drop us an email</h4>
                </div>
              </div>
              <!-- featured-icon-box end-->
            </aside>
          </div>
          <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <aside class="widget widget-text">
              <!--featured-icon-box-->
              <div class="featured-icon-box iconalign-before-heading">
                <div class="featured-icon">
                  <div
                    class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                  >
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
                <div class="featured-title">
                  <h5>Mon – Sat 07:00 – 21:00</h5>
                  <h4>We are open on</h4>
                </div>
              </div>
              <!-- featured-icon-box end-->
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="second-footer ttm-textcolor-white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
            <div class="widget widget_text clearfix">
              <h3 class="widget-title">About Brivona</h3>
              <div class="textwidget widget-text">
                Our Clinic has grown to provide a world class facility for the
                clinic advanced restorative dentistry.
                <br /><br />We are among the most qualified implant providers in
                the AUS with over 30 years of quality training and experience.
                <br /><br />
                <div class="social-icons social-hover">
                  <ul class="list-inline">
                    <li class="social-facebook">
                      <a
                        class="tooltip-top"
                        target="_blank"
                        href="https://www.facebook.com/preyantechnosys19"
                        rel="noopener"
                        aria-label="facebook"
                        data-tooltip="Facebook"
                        target="_blank"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="social-twitter">
                      <a
                        class="tooltip-top"
                        target="_blank"
                        href="https://twitter.com/PreyanTechnosys"
                        rel="noopener"
                        aria-label="twitter"
                        data-tooltip="Twitter"
                        target="_blank"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="social-instagram">
                      <a
                        class="tooltip-top"
                        target="_blank"
                        href="https://www.instagram.com/preyan_technosys/"
                        rel="noopener"
                        aria-label="instagram"
                        data-tooltip="Instagram"
                        target="_blank"
                        ><i class="fa fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="social-linkedin">
                      <a
                        class="tooltip-top"
                        target="_blank"
                        href="https://www.linkedin.com/in/preyan-technosys-pvt-ltd/"
                        rel="noopener"
                        aria-label="linkedin"
                        data-tooltip="LinkedIn"
                        target="_blank"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
            <div class="widget widget_nav_menu clearfix">
              <h3 class="widget-title">Quick Links</h3>
              <ul id="menu-footer-quick-links">
                <li><a href="index-2.html">Make Appointments</a></li>
                <li><a href="services-1.html">Before & After</a></li>
                <li><a href="about-1.html">Customer Treatments</a></li>
                <li><a href="single-style-1.html">Our Doctors Team</a></li>
                <li><a href="blog.html">Departments Services</a></li>
                <li><a href="our-team.html">About our Clinic</a></li>
                <li><a href="faq.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
            <div class="widget style2 widget-out-link clearfix">
              <h3 class="widget-title">Latest News</h3>
              <ul class="widget-post ttm-recent-post-list mt-15">
                <li>
                  <a href="single-blog.html"
                    ><img src="assets/images/blog/01.jpg" alt="post-img"
                  /></a>
                  <span class="post-date">April 1, 2019</span>
                  <a href="single-blog.html"
                    >How much aspirin to take for stroke</a
                  >
                </li>
                <li>
                  <a href="single-blog.html"
                    ><img src="assets/images/blog/02.jpg" alt="post-img"
                  /></a>
                  <span class="post-date">April 1, 2019</span>
                  <a href="single-blog.html"
                    >Implant Surgical equipment technology</a
                  >
                </li>
                <li>
                  <a href="single-blog.html"
                    ><img src="assets/images/blog/03.jpg" alt="post-img"
                  /></a>
                  <span class="post-date">April 05, 2019</span>
                  <a href="single-blog.html"
                    >The Benefits of Middle-Age Fitness</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
            <div
              class="widget widget_nav_menu menu-footer-services-menu clearfix"
            >
              <h3 class="widget-title">Our Services</h3>
              <ul id="menu-footer-services-menu" class="menu">
                <li><a href="#">Surgery</a></li>
                <li><a href="#">Psychological</a></li>
                <li><a href="#">Cardiology</a></li>
                <li><a href="#">Orthopedics</a></li>
                <li><a href="#">Pediatric</a></li>
                <li><a href="#">Oncology</a></li>
                <li><a href="#">Anesthesiology</a></li>
                <li><a href="#">Dermatology</a></li>
              </ul>
            </div>
            <div class="widget widget-text clearfix">
              <h3 class="widget-title">Newsletter</h3>
              <form
                id="subscribe-form"
                method="post"
                action="#"
                data-mailchimp="true"
              >
                <div class="ttm_subscribe_form">
                  <input
                    type="email"
                    name="EMAIL"
                    placeholder="Enter Your Email"
                    required=""
                  />
                  <button class="btn" type="submit">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                </div>
                <div class="subscribe-response"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer-text ttm-textcolor-white">
      <div class="container">
        <div class="row copyright">
          <div class="col-md-12">
            <span
              >Copyright © 2019 Brivona Theme by
              <a href="https://themetechmount.com/">ThemetechMount</a></span
            >
          </div>
          <div class="col-md-12">
            <ul id="menu-footer-menu" class="footer-nav-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--footer end-->