<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Clinic Management</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active">Clinic</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <button type="button" class="btn btn-success" (click)="createClinic()">
                  Add new clinic
                </button>
              </h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th>Clinic Name</th>
                    <th>Address</th>
                    <th style="width: 100px;">Phone</th>
                    <th>Email</th>
                    <th>Opening Hour</th>
                    <th>Closing Hour</th>
                    <th style="width: 200px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of clinics">
                    <td>{{ item.clinicName }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.openingHours }}</td>
                    <td>{{ item.closingHours }}</td>
                    <td>
                      <button type="button" class="btn btn-primary" (click)="editClinic(item.id)">
                        Edit
                      </button>
                      <button type="button" class="btn btn-danger ml-3" (click)="deleteClinic(item.id)">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <app-pagination [paging]="pagination" (pageChange)="pageChange($event)"></app-pagination>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
      <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>